.section {
  min-height: 500px;
  margin: 0;
  padding: 0 1.5em;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  
  @media screen and (min-width: 600px) {
    padding: 3em;
    height: 100vh;

  }
}

.section__content {
  max-width: 700px;
}

h1, h2 {
  font-size: 3em;
  margin: 0;
  letter-spacing: -0.03em;
  line-height: 1.1em;
  
  & + p {
    margin-top: 0.7em;
  }
  
  @media screen and (min-width: 500px) {
    font-size: 4em;
  }
}

p {
  font-size: 1.25em;
  margin: 0;
  letter-spacing: -0.02em;
  line-height: 1.23em;
  opacity: 0.8;
  
  @media screen and (min-width: 500px) {
    font-size: 1.7em;
  }
}

button {

  float: right;

}