body{
  color: white;
  background-color: black;
  
}


.section {
  min-height: 500px !important;
  margin: 0 !important;
  padding: 0 1.5em !important;
  box-sizing: border-box !important;
  overflow: auto !important;

  display: flex !important;
    justify-content: flex-start !important;
    align-content: center !important;
    align-items: center !important;
  
  @media screen and (min-width: 600px) {
    padding: 3em !important;
    height: 100vh !important;

  }
}

.section__content {
  max-width: 700px !important;
}

h1, h2{
  font-size: 3em !important;
  margin: 0 !important;
  letter-spacing: -0.03em !important;
  line-height: 1.1em !important;
  font-weight: 900 !important;
  
  & + p {
    margin-top: 0.7em !important;
  }
  
  @media screen and (min-width: 500px) {
    font-size: 4em !important;
  }
}

p {
  font-size: 1.25em !important;
  margin: 0 !important;
  letter-spacing: -0.02em !important;
  line-height: 1.23em !important;
  opacity: 0.8 !important;
  
  @media screen and (min-width: 500px) {
    font-size: 1.7em !important;
  }
}

button {

  float: right !important;

}

